* {
  all: initial;
  font-family: "WebsupportSans", sans-serif;
  color: var(--bd-banner-white);
  font-size: 18px;
}

:host {
  --bd-banner-red: #CD5F5B;
  --bd-banner-white: #FFFFFF;
  --bd-banner-black: #1A1919;
  --bd-banner-aqua: #B4E9DF;
}

.preload {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: none !important;
}

.preload * {
  transition: none !important;
}

.text-red {
  color: var(--bd-banner-red);
}

.text-big {
  font-size: 75px;
}

.text-medium {
  font-size: 30px;
}

.text-extra-bold {
  font-weight: 800;
}

.text-bold {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: transparent;
}

button, a {
  transition: transform 0.2s ease-in-out;
}

button:hover, a:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
}

p {
  display: block;
  line-height: 1.5;
}

select {
  all: revert;
  padding: 2px;
  background-color: var(--bd-banner-black);
  color: var(--bd-banner-white);
  border-radius: 5px;
}

button, select, button > span {
  cursor: pointer;
  border: none;
}

#bd-banner, button, select {
  font-family: "WebsupportSans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

#bd-banner {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: auto;
  display: block !important;
  transition: opacity 0.5s linear;
}

#bd-banner.hiding {
  opacity: 0;
}

#whitelist-button {
  background-color: var(--bd-banner-white);
  border-radius: 4px;
  padding: 2px 10px;
  margin: 8px;
  color: var(--bd-banner-black);
}

.container {
  position: absolute;
  padding-top: 24px;
  width: 100%;
  background: var(--bd-banner-black);
  transition: all 0.5s ease-in-out;
}

#main-row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  z-index: 1000;
}

.title {
  font-size: min(75px, 9vw);
  /* The N in our font has some inherent padding which we want to mitigate */
  margin: 0 0 0 -6px;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  vertical-align: top;
}

a, .subtitle {
  font-family: "WebsupportSans", sans-serif;
  display: inline;
}

.title, .subtitle, .external-link, .score {
  color: var(--bd-banner-white);
}

.hexagon-badge {
  display: inline-block;
}

#bottom-row {
  height: 40px;
  margin-bottom: 5px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  z-index: 1000;
}

.left {
  justify-self: left;
}

.center {
  justify-self: center;
}

.right {
  justify-self: right;
}

.vertical-break-narrow {
  border: 1px dashed var(--bd-banner-black);
  margin: 0;
}

.text-break-narrow, .vertical-break-narrow {
  display: none;
}

#collapsible-row {
  position: absolute;
  align-items: center;
  padding: 0 20px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, z-index 0s linear 0s;
  transform: translateY(-100%);
  opacity: 1;
  z-index: -1;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  min-height: 50px;
  background-color: var(--bd-banner-red);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
}

#collapsible-row > .center, #collapsible-row > .right {
  margin-left: auto;
}

#collapsible-row > .center > span, #collapsible-row > .right > a {
  line-height: 50px;
}

#collapsible-row > .right {
  margin-left: auto;
}

#collapsible-row.open {
  transform: translateY(0);
  z-index: 3000;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, z-index 0s linear 0.5s;
}


#expand-button {
  height: 24px;
  width: 24px;
  background: url("../img/sprites/chevron.svg") no-repeat center;
  transition: transform 0.5s;
}

#expand-button.rotate {
  transform: rotate(180deg);
}

.padding-left {
  padding-left: 300px;
}

.external-link {
  color: white;
  text-decoration: none;
}

.cary-wrapper {
  display: flex;
  position: relative;
  background-size: auto;
}

.supportline {
  height: 203px;
  pointer-events: none;
}

.supportline-infinite {
  min-width: 100%;
  background: url('../img/supportline/infinite.svg') repeat-x;
  background-size: auto;
}

.cary {
  position: absolute;
  align-self: center;
  background: var(--bd-banner-aqua);
  border-radius: 50%;
  height: 160px;
}

.score {
  text-shadow: 2px 4px 6px rgba(30, 30, 30, 0.45);
}

.score-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: url('../img/sprites/polygon.svg') no-repeat center center;
  height: 64px;
  width: 64px;
}

@media screen and (max-width: 1337px) {
  #collapsible-row {
    display: flex;
    justify-content: space-between;
  }

  #collapsible-row > .left {
    display: none;
  }

  #collapsible-row >.center, #collapsible-row >.right {
    margin: 0;
  }

  #main-row {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }

  #bottom-row {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .padding-left {
    padding-left: 0;
  }

  .cary-wrapper, .text-break {
    display: none;
  }

  .score-wrapper {
    display: flex;
    margin: 20px auto;
    justify-self: center;
  }

  .subtitle {
    display: flex;
    text-align: center;
  }

  .title {
    margin-left: 0;
  }

  @media screen and (max-width: 1200px) {
    #collapsible-row {
      display: block;
      text-align: center;
    }
    .vertical-break-narrow {
      display: block;
    }
  }

  @media screen and (max-width: 850px) {
    .text-break-narrow {
      display: block;
    }

    #collapsible-row > .center {
      padding: 10px 0;
    }

    #collapsible-row > .center > span {
      line-height: 32px;
    }

    #collapsible-row > .center > button {
      margin-top: 5px;
    }

    #collapsible-row > .right > a {
      line-height: 40px;
    }
  }

  @media screen and (max-width: 400px) {
    *, button, select, .subtitle, #bd-banner {
      font-size: 14px;
    }

    #collapsible-row >.center {
      line-height: 24px;
      padding: 5px 0 10px;
    }

    #collapsible-row > .right {
      line-height: 24px;
      padding: 8px 0;
    }

    .score-wrapper {
      height: 50px;
      width: 50px;
      background-size: 50px 50px;
      margin: 12px auto;
    }

    .score {
      font-size: 22px;
    }
  }
}
